.footer-page {
    display: flex;
    flex-direction: column;
    height: 20rem;
    background-color: #1f2937;
    font-family: Arial, Helvetica, sans-serif;

    .footer-section-flex {
        display: flex;
        flex-direction: row;
        height: 80%;
        justify-content: space-around;
        padding-top: 4rem;


        .footer-div-frase {
            color: #979fae;

            .footer-nome-loja {
                font-size: 1.8rem;
                font-weight: bold;
                color: white;
            }

            .footer-p-titulo {
                font-size: 1rem;
                padding-top: 1.4rem;
            }
        }

        .footer-div-links {
            color: #979fae;
            font-size: 1rem;

            .footer-titulo {
                color: white;
            }

            .footer-ul-links {
                list-style: none;
                padding: 0;
                padding-top: 1.4rem;


                .footer-li-links {
                    margin-bottom: 0.5rem;
                }
            }
        }

        .footer-adm {
            font-size: 1.2rem;
            display: flex;
            align-self: center;
            margin-top: -2rem;
            background-color: #ef4444;
            color: black;
            padding: 0.5rem 1rem;
            border-radius: 0.8rem;
        }
    }

    .footer-creditos {
        // height: 3rem
        display: flex;
        justify-content: center;
        align-self: center;
        padding-top: 1.5rem;
        color: #979fae;
        border-top: #405066 1px solid;
        width: 70%;
    }
}